<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Correo</title>
  </head>
  <body>
    <div style="display: grid; gap: 10px;">
      <div style="display: flex; gap: 5px;">
      <span>Logo</span>
      <h1 style="">Dimexa</h1>
    </div>
    <hr />
    <div style="display: flex; flex-direction: column; gap: 20px;">
      <div style="display: flex; flex-direction: column; gap: 5px;">
        <div style="color: green;">Bienvenido a la :</div>
        <div style="color: blue;">Extranet</div>
        <div>Dimexa</div>
      </div>
      <div>
        Gracias por ser parte de nuestra plataforma, cuando inicies sesión recuerda que estas son tus credenciales para poder ingresar si tienes alguna duda puedes comunicarte con nosotros
      </div>
      <div style="display: flex; gap: 10px; flex-direction: column;">
        <div style="display: flex; gap: 10px">
          <div style="color: green;">Usuario:</div>
          <div style="color: blue;">cesarlopez@dimexa.com.pe</div>
        </div>
        <div style="display: flex; gap: 10px">
          <div style="color: green;">Contraseña:</div>
          <div style="color: blue;">CRFG133</div>
        </div>
        <div style="display: flex; gap: 10px"></div>
      </div>
    </div>
    </div>
    
  </body> 
</html>